{% extends "base.html" %}

{% block title %}About - Jacob Johnson{% endblock %}

{% block content %}
<h1 class="about-heading">ABOUT</h1>
<p class="about-text">Motivated IT professional with a flawless history of attendance and two years of hands-on technical support experience. Experienced in diagnosing hardware issues, training new staff, and delivering customer-focused solutions. Actively building cloud-automation skills (Python, AWS, & Linux) and seeking an entry-level DevOps or Systems Engineer role </p>
<h2 class="tech-list-heading">Core Competencies</h2>
<ul class="tech-list">
    <li>Python <i class="fa-brands fa-python"></i></li>
    <li>AWS Cloud Pracitioner (In Progress) <i class="fa-brands fa-aws"></i></li>
    <li>Linux (Ubuntu & Fedora) <i class="fa-brands fa-ubuntu"></i> <i class="fa-brands fa-fedora"></i> </li>
    <li>Git & GitHub <i class="fa-brands fa-git"></i> <i class="fa-brands fa-github"></i></li>
    <li>HTML/CSS/JavaScript <i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> </li>
    <li>Hardware Diagnosis <i class="fa-solid fa-screwdriver-wrench"></i></li>
    <li>Windows & mac-OS Support <i class="fa-brands fa-windows"></i> <i class="fa-brands fa-apple"></i></li>
    <li>Customer Service <i class="fa-solid fa-person"></i></li>
    <li>Documentation & Troubleshooting <i class="fa-solid fa-book"></i></li>
</ul>
<a class="resume-link" href="{{ url_for('static', filename='files/Jacob_Johnson_Resume.pdf') }}" download="Jacob_Johnson_Resume.pdf" target="_blank" class="btn btn-primary resume-download-btn">Download My Resume (PDF) <i class="fa-solid fa-file-pdf"></i> </a>
{% endblock %}